.jumbotron {
  background: image-url('main.jpg') center no-repeat;
  background-size: cover;
}

#map {
  height: 100vh;
  width: auto;
}

.posts {
  border: solid 1px #ccc;
  height: 100vh;
  margin-top: 15px;
  overflow: auto;
}

.post {
  border-bottom: solid 1px #ccc;
  margin: 10px;
  p {
    word-wrap: break-word;
  }
}

.post-meta {
  color: #888;
}

.post-date {
  margin-left: 5px;
}
